/* Navbar Section */
@keyframes pulse {
  0%, 100% {
    opacity: 0.6;;
  }
  50% {
    opacity: 1;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #efefef;
  font-family: "Fredoka", sans-serif;
  width: 100%;
  padding: 4px 32px;
  z-index: 99;
  
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
}

.navbar-container:hover nav {
  transform: translateY(0);
  opacity: 1;
}

.navbar-container.is-at-top nav {
  transform: translateY(0);
  opacity: 1;
}

nav .logo-menu{
  display: flex;
  align-items: center;
  gap: 32px;
}

nav .title {
  display: flex;
  align-items: center;
  font-size: 32px;
  text-decoration: none;
  font-family: 'Audiowide', cursive;
  color: #00FFA3;
  gap: 4px;
}

nav .title p {
  font-family: 'Audiowide', cursive;
  color: #efefef;
}

nav .logo {
  height: px;
}

nav .title span{
  font-family: 'Audiowide', cursive;
  color: #00FFA3;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 32px;
  margin: 0;
  padding: 0;
}

nav a {
  display: block;
  text-decoration: none;
  font-size: 18px;
  padding: 8px;
  border-radius: 8px;
  transition: transform 0.8s ease;
}

nav a:not(.title):hover {
  text-shadow: #00FFA3 0px 0px 8px;
  animation: pulse 1.5s infinite;
  cursor: pointer;
  transform: scale(1.1);
}

/* NavLink Active */
nav a.active {
  /* background-color: #001a4c; */
  text-shadow: #00FFA3 0px 0px 8px;
}

/* HIDE HAMBURGER MENU ON DESKTOP */
nav .menu {
  display: none;
  position: absolute;
  top: 36px;
  right: 24px;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 18px;
  gap: 6px;
}

nav .menu span {
  height: 3px;
  width: 100%;
  background-color: #efefef;
  border-radius: 3px;
}

/* MEDIA QUERIES */
/* Mobile View */
@media (max-width: 768px) {

  nav .menu {
    display: flex;
  }

  nav .logo-text{
    display: none;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 4px 8px;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 16px;
    gap: 8px;
  }

  nav ul.open {
    display: flex;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }
}
