:root {
  background: #1A1C20;
}

@keyframes floating {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-5px); 
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Fredoka', sans-serif, 'Audiowide', cursive;
}

.navbar-container {
  position: fixed; /* Tetap di posisi yang sama saat di-scroll */
  top: 0;
  left: 0;
  width: 100%;
  height: 60px; /* Area hover setinggi 60px, bisa disesuaikan */
  z-index: 100; /* Pastikan berada di atas konten lain */
  transition: all 0.3s ease; /* Transisi halus (opsional) */
}

.background-veil {
  position: fixed; /* Tetap di tempat saat scroll */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* 100% tinggi viewport */
  z-index: -1; /* SANGAT PENTING: menempatkan di belakang semua konten lain */
  overflow: hidden; /* Mencegah scrollbar jika ada overflow kecil */
}

.hero-section {
  width: 100%;
  height: 100vh;
  display: flex;
  padding-bottom: 10px;
  justify-content: top;
  align-items: center;
  color: #efefef;
  transition: padding-top 0.6s ease-out;
  /* border: #efefef 1px solid; */
}

.navbar-container.is-at-top ~ .hero-section {
  padding-top: 105px;
}

.hero-content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-self: start;
  align-items: center;
  gap: 32px;
  font-size: 48px;
  padding-left: 128px;
  padding-right: 128px;
  /* border: #efefef 1px solid; */
}

.hero-image{
  display: flex;
  /* max-width: 600px; */
  width: 40%;
  animation: floating 4s ease-in-out infinite;
  /* border: #efefef 1px solid; */
}

.hero-text-container {
  min-width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Audiowide', cursive;
  /* border: #efefef 1px solid; */
}

.hero-text {
  max-width: 600px;
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-family: 'Audiowide', cursive;
  /* border: #efefef 1px solid; */
}

.hero-typed-text {
  font-family: 'Audiowide', cursive;
  font-size: 48px;
}

.hero-subtext{
  max-width: 700px;
  display: flex;
  font-size: 24px;
  /* border: #efefef 1px solid; */
}

/* Tablet View */
@media (max-width: 1024px) {
  .hero-text{
  font-size: 28px;
  }

  .hero-subtext{
    font-size: 20px;
  }


}

/* Mobile View */
@media (max-width: 768px) {
  .hero-content {
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }

  .hero-image{
    width: 80%;
  }

  .hero-text-container {
    align-items: center;
    padding: 10px;
  }

  .hero-text{
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-family: 'Audiowide', cursive;
  }

  .hero-subtext{
    width: 100%;
    text-align: center;
  }



}