:root {
  background: #1A1C20;
  overflow-x: hidden;
}

html, body {
  overflow: hidden;
  height: 100%;
}

@keyframes floating {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-5px); 
  }
}

@keyframes pulse-hero {
  0%, 100% {
    text-shadow: #00FFA3 0px 0px 2px;
  }
  50% {
    text-shadow: #00FFA3 0px 0px 10px;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-hero-image {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-in-left{
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(200%);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-up {
  0% {
    transform: translateY(200%);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-down {
  0% {
    transform: translateY(-200%);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.scroll-container {
  overflow-y: scroll; 
  overflow-x: hidden;
  height: 100vh;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-container > section {
  scroll-snap-align: start; 
}

.background-veil {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
}

.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  z-index: 100;
  transition: all 0.3s ease;
  font-family: 'Fredoka', sans-serif;
}

.hero-section {
  width: 100%;
  height: 100vh;
  display: flex;
  padding-bottom: 10px;
  justify-content: top;
  align-items: center;
  color: #efefef;
  transition: padding-top 0.6s ease-out;
  /* border: #efefef 1px solid; */
}

.scroll-container.is-at-top .hero-section {
  padding-top: 105px;
}

.hero-content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-self: start;
  align-items: center;
  gap: 32px;
  font-size: 48px;
  padding-left: 128px;
  padding-right: 128px;
  /* border: #efefef 1px solid; */
}

.hero-image{
  display: flex;
  /* max-width: 600px; */
  width: 40%;
  animation: fade-in-hero-image 2s ease-in-out, floating 4s ease-in-out infinite;
  /* border: #efefef 1px solid; */
}

.hero-text-container {
  min-width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Audiowide', cursive;
  /* border: #efefef 1px solid; */
}

.hero-text {
  max-width: 600px;
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-family: 'Audiowide', cursive;
  /* border: #efefef 1px solid; */
}

.hero-typed-text {
  font-family: 'Audiowide', cursive;
  font-size: 48px;
  /* animation: pulse-hero 1.5s infinite; */
}

.hero-subtext{
  max-width: 700px;
  display: flex;
  font-size: 24px;
  font-family: 'Fredoka', sans-serif;
  animation: fade-in 2.5s ease-in-out forwards;
  /* border: #efefef 1px solid; */
}

/* Body-Section */
.body-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #efefef;
  font-family: 'Fredoka', sans-serif;
  position: relative;
  /* border: #efefef 1px solid; */
}

.body-section * {
  /* border: #efefef 1px solid; */
}

.scroll-container.is-at-top .body-section {
  padding-top: 105px;
}

.spline-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.bento-box-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  /* opacity: 0; */
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
  padding-left: 128px;
  padding-right: 128px;
  padding-top: 32px;
  padding-bottom: 32px
  /* border: #efefef 1px solid; */
}

.bento-box-section.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.bento-box-section.is-visible .bento-section-title {
  animation: slide-in-down 1.5s ease-in-out forwards;
  opacity: 1;
}

.bento-box-section.is-visible .bento-trading-volume {
  animation: slide-in-left 1.5s ease-in-out  forwards;
  opacity: 1;
}

.bento-box-section.is-visible .bento-market-cap {
  animation: slide-in-left 1.5s ease-in-out 0.2s forwards;
  opacity: 1;
}

.bento-box-section.is-visible .bento-popular {
  animation: slide-in-right 1.5s ease-in-out 0.2s forwards;
  opacity: 1;
}

.bento-box-section.is-visible .bento-news {
  animation: slide-in-up 1.5s ease-in-out 0.4s forwards;
  opacity: 1;
}

.bento-section-title {
  width: fit-content;
  height: fit-content;
  
  /* background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 16px; */

  padding: 16px;
  justify-content: left;;
  font-size: 48px;
  margin-bottom: 32px;
  font-weight: 500;
  font-family: 'Audiowide', cursive;
  opacity: 0;
}

.bento-section-title span{
  width: fit-content;
  height: fit-content;
  justify-content: left;
  font-size: 48px;
 font-family: 'Fredoka', sans-serif;
}

.bento-box-container {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: #efefef 1px solid; */
}

.bento-box-wrap {
  display: flex;
  flex-direction: column
}

.bento-box-tv-mc {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.bento-and-title {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.bento-trading-volume {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 24px;
  color: #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Fredoka', sans-serif;
  width: 280px;
  height: 180px;
  margin: 12px;
  opacity: 0;
}

.bento-market-cap {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 24px;
  color: #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Fredoka', sans-serif;
  width: 280px;
  height: 180px;
  margin: 12px;
  opacity: 0;
}

.bento-popular {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 24px;
  color: #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Fredoka', sans-serif;
  width: 280px;
  height: 384px;
  margin: 12px;
  opacity: 0;
}

.bento-news {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 24px;
  color: #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Fredoka', sans-serif;
  width: 584px;
  height: 180px;
  margin: 12px;
  opacity: 0;
}

.footer-section {
  width: 100%;
  height: 100vh;
  border: #efefef 1px solid;
}

/* Tablet View */
@media (max-width: 1024px) {
  .hero-text{
  font-size: 28px;
  }

  .hero-subtext{
    font-size: 20px;
  }

}

/* Mobile View */
@media (max-width: 768px) {
  .navbar-container.is-at-top ~ .hero-section {
    padding-top: 110px;
  }

  /* .hero-section {
    height: 80vh;
  } */

  .hero-content {
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }

  .hero-image{
    width: 70%;
  }

  .hero-text-container {
    align-items: center;
    padding: 10px;
  }

  .hero-typed-text{
    width: 100%;
    text-align: center;
    font-size: 32px;
    font-family: 'Audiowide', cursive;
  }

  .hero-subtext{
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-family: 'Fredoka', sans-serif;
  }



}